.contacto{
    background-color: var(--second-color);
    padding: 8rem 0 4rem 0;
}
.contacto_width{
    display: flex;
    margin-left: 2rem;
    margin-top: 5vh;
}
.contacto_p{
    margin-bottom: 1rem;
}
.contacto_width img{
    width: 50%;
    max-width: 464px;
    height: 61vh;
    max-height: 593px;
    padding-right: 1rem;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.formulario_label{
    display: block;
    padding: 5px;
    cursor: pointer;
}
.form_grupo_input{
    position: relative;
}
.form_input{
    width: 95%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px 0 10px;
    transition: 0.3s ease all;
}
.form_input:focus{
    border: 3px solid #2A7AE4;
    outline: none;
    box-shadow: 3px 20px 30px rgba(170, 170, 170, 0.4);
}
.label_height{
    height: 100px;
}
.form_input_error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.form_input_error-act{
    display: block;
}
.form_validacion_estado{
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 100%;
    font-size: 16px;
    opacity: 0;
}
.form_mensaje{
    height: 45px;
    line-height: 45px;
    background-color: #f55555;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}
.form_mensaje-act{
    display: block;
}
.contacto_btn{
    margin-top: 1rem;
    width: 144px;
    height: 51px;
    background: linear-gradient(to right,#004e92,#65C7F7,#9CECFB);
    background-size: 200% auto;
    transition: all .3s cubic-bezier(.25,0.8,.25,1);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.contacto_btn:hover{
    transition: .5s;
    background-position: right center;
    color: #000428;
    box-shadow: 3px 10px 10px rgb(0, 0, 0, 0.6);
}
.form_mensaje_exito{
    font-size: 14px;
    color: #168807;
    display: none;
}
.form_mensaje_exito-act{
    display: block;
}
/* validacion */
.form_grupo_co .form_validacion_estado{
    color: #21d609;
    opacity: 1;
}
.form_grupo_co .form_input{
    border: 3px solid #21d609;
}
.form_grupo_in .form_label{
    color: #e92222;
}
.form_grupo_in .form_validacion_estado{
    color: #e92222;
    opacity: 1;
}
.form_grupo_in .form_input{
    border: 3px solid #e92222;
}


@media (max-width:940px){
    .contacto_width img{
        display: none;
    }
}